@charset "UTF-8";
.aside {
  display: block;
  position: relative;
  width: 320px;
  height: 100vh;
  min-height: 100%;
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
  background-color: #ffffff; }

@media screen and (max-width: 992px) {
  .aside {
    position: fixed;
    overflow-x: auto;
    z-index: 100;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out; }
  .aside--active {
    transform: none;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), 2px 0px 4px rgba(69, 79, 126, 0.02); } }

.aside__bar {
  width: 100%;
  min-height: 870px;
  padding: 35px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff; }

@media screen and (max-width: 468px) {
  .aside__bar {
    min-height: 100%; } }

.aside__header {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto; }

.aside__header_logo {
  display: block; }

.asisde__menu {
  width: 100%;
  padding: 0;
  margin-top: 25px;
  flex: 0 0 auto; }

.aside__menu_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 auto;
  padding: 0; }

.aside__menu_item {
  display: block;
  position: relative;
  margin-bottom: 16px; }

.aside__menu_link {
  text-decoration: none;
  font-family: "TT Lakes Medium", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21; }
  .aside__menu_link:hover {
    color: #7e7e82; }

.aside__menu_link--active {
  position: relative;
  color: #7e7e82; }

/* Линия декора перед пунктом списка */
.aside__menu_item:hover::before,
.aside__menu_link--active::before {
  content: "";
  display: block;
  width: 3px;
  height: 28px;
  background-color: #41f6d7;
  border: 1px solid #41f6d7;
  border-radius: 30px;
  position: absolute;
  left: -24px;
  top: -5px; }

.aside__contact-buttons {
  margin: auto 0 0;
  padding: 0;
  display: flex;
  justify-content: flex-start; }

.aside__contact-link {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

.aside__contact-link_mail {
  text-decoration: none;
  font-family: "TT Lakes Medium", Verdana, sans-serif;
  font-size: 16px;
  line-height: 44px;
  color: #1b1c21;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 80%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .2s; }
  .aside__contact-link_mail:hover {
    background-size: 100% 1px; }

.aside__contact-link_phone {
  text-decoration: none;
  font-family: "TT Lakes Bold", Verdana, sans-serif;
  font-size: 24px;
  line-height: 52px;
  color: #1b1c21;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 80%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .2s; }
  .aside__contact-link_phone:hover {
    background-size: 100% 2px; }

.aside__language {
  margin: 25px 0 0;
  padding: 0; }

.aside__language_item {
  text-decoration: none;
  font-family: "TT Lakes Medium", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21; }
  .aside__language_item:hover {
    color: #7e7e82; }

.aside__language--active {
  color: #7e7e82; }

.main {
  display: block;
  /* blcok */
  height: 100vh;
  height: auto;
  min-height: 100%;
  flex: 1 1 auto;
  margin: 0;
  background-color: #f8f8f8;
  box-sizing: border-box; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 42px 32px 9px;
  box-sizing: border-box; }

@media screen and (max-width: 767px) {
  .header {
    padding: 42px 16px 9px; } }

.header__title {
  font-family: "TT Lakes Bold", Verdana, sans-serif;
  font-size: 28px;
  line-height: 40px;
  position: relative;
  margin: 0; }
  .header__title::before {
    /* Линия декора перед заголовком */
    content: "";
    display: block;
    width: 3px;
    height: 40px;
    border: 1px solid #41f6d7;
    border-radius: 10px;
    background-color: #41f6d7;
    position: absolute;
    left: -34px;
    top: 0; }

@media screen and (max-width: 767px) {
  .header__title::before {
    left: -18px; } }

.header__request {
  margin: 0;
  flex: 0 1 auto;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap; }

/* При ширине от 993 до 1024 кнопки размещаются друг под другом */
@media screen and (max-width: 1024px) {
  .header__request {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .request-button {
    margin: 0px;
    margin-bottom: 16px; }
  .status-button {
    margin: 0px; } }

/* Прячем кнопки "Оставить заявку" и "Статус ремонта" при ширине до 768 */
@media screen and (max-width: 992px) {
  .header__request {
    display: none; } }

.header__request_button {
  /* Общие свойства кнопок в header */
  font-family: "TT Lakes Medium", Verdana, sans-serif;
  font-size: #1d1e23;
  line-height: 24px;
  text-align: left;
  background-color: transparent;
  display: block;
  width: 170px;
  height: 42px;
  border: none;
  outline: none;
  padding: 0 0 0 10px;
  cursor: pointer;
  position: relative; }
  .header__request_button::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    background-color: #ff3e79; }

.request-button {
  margin-right: 32px; }
  .request-button::after {
    background-image: url(./static/request.svg);
    background-repeat: no-repeat;
    background-position: center center; }

@media screen and (max-width: 1024px) {
  .request-button {
    margin-right: 0px; } }

.status-button {
  margin: 0; }
  .status-button::after {
    background-image: url(./static/status.svg);
    background-repeat: no-repeat;
    background-position: center center; }

/* MENU */
.menu {
  padding: 0 32px;
  margin: 0;
  width: 100%;
  box-sizing: border-box; }

@media screen and (max-width: 767px) {
  .menu {
    padding: 0 16px; } }

.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 10px; }

/* Если ширина не вписывается в 1440 - пункты меню центрируются */
@media screen and (max-width: 1439px) {
  .menu__list {
    justify-content: center;
    width: 100%; } }

/* Усли ширина до 992 - меню прокручивается */
@media screen and (max-width: 992px) {
  .menu {
    flex: 0 1 auto; }
  .menu__list {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    flex: 0 0 auto;
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-bottom: -20px; }
  .menu {
    overflow: hidden; } }

.menu__item {
  list-style: none;
  flex: 0 0 auto; }

.menu__link {
  text-decoration: none;
  color: #7e7e82;
  display: block;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 6px; }
  .menu__link:hover {
    border: 2px solid #b8ffec;
    background-color: #fff; }

.menu__link--active {
  display: block;
  padding: 8px;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #fff; }

/* CONTENT */
.description {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 32px;
  box-sizing: border-box; }

@media screen and (max-width: 767px) {
  .description {
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    padding: 20px 16px; } }

.description__text {
  width: 50%;
  flex: 1 1 auto;
  height: auto;
  overflow: hidden;
  margin-right: 16px; }

.description__paragraph {
  display: block; }

.description__paragraph--hidden {
  display: none; }

@media screen and (max-width: 767px) {
  .description__text {
    flex: 0 1 auto;
    width: 100%;
    margin: 0; } }

.description__image {
  flex: 1 1 auto;
  width: 45%;
  height: auto;
  overflow: hidden; }
  .description__image--img {
    width: 100%;
    border-radius: 6px; }

@media screen and (max-width: 767px) {
  .description__image {
    width: 100%;
    margin: 16px 0; } }

@font-face {
  font-family: 'TT Lakes Regular';
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Medium';
  src: url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Bold';
  src: url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

.rubric {
  display: block;
  width: 100%;
  height: 56px;
  height: auto;
  padding: 1px 32px;
  background-image: linear-gradient(-270deg, #f8f8f8 0%, #ffffff 100%);
  box-sizing: border-box; }

@media screen and (max-width: 768px) {
  .rubric {
    max-width: 768px; } }

@media screen and (max-width: 320px) {
  .rubric {
    height: auto;
    padding: 5px 16px; } }

.rubric__title {
  font-family: "TT Lakes Regular", Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #7e7e82;
  text-transform: uppercase;
  font-weight: normal;
  margin: 16px 0; }

.brands-container {
  /* Контейнер */
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  box-sizing: border-box; }

.brands-container__content {
  /* Блок содержимого */
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 24px 0 24px 32px;
  box-sizing: border-box; }

@media screen and (min-width: 469px) and (max-width: 992px) {
  .brands-container__content {
    padding: 24px 0 24px 24px; } }

@media screen and (max-width: 468px) {
  /* Проверить ширину */
  .brands-container__content {
    padding: 12px 0;
    height: 150px;
    position: relative; }
  .brands-container__content::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    width: 25px;
    height: 85px;
    z-index: 5;
    background-color: transparent;
    box-shadow: 10px 0 20px 5px #ffffff; }
  .brands-container__content::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 0;
    width: 25px;
    height: 85px;
    z-index: 5;
    background-color: transparent;
    box-shadow: -10px 0 20px 5px #ffffff; } }

.brands-container__list {
  /* Список */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box; }

@media screen and (max-width: 1167px) {
  .brands-container__list {
    justify-content: space-around; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .brands-container__list {
    padding: 12px 0;
    justify-content: space-between; } }

.brands-container__item {
  /* Пункты списка */
  flex: 0 0 240px;
  width: auto;
  height: auto;
  margin: 0 32px 16px 0; }

.brands-container__item--hidden {
  display: block; }

@media screen and (min-width: 1440px) {
  .brands-container__item--hidden:nth-child(n+9) {
    display: none; } }

@media screen and (min-width: 468px) and (max-width: 1439px) {
  .brands-container__item--hidden:nth-child(n+7) {
    display: none; } }

.brands-container__link {
  /* Ссылки в списке */
  text-decoration: none;
  display: block;
  width: 240px;
  height: 72px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  border-radius: 6px;
  position: relative;
  box-sizing: border-box; }
  .brands-container__link::before {
    content: "";
    position: absolute;
    display: block;
    right: 35px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 7px;
    height: 7px;
    border-right: 2px solid #ff3e79;
    border-top: 2px solid #ff3e79;
    border-left: transparent;
    border-bottom: transparent; }
  .brands-container__link::after {
    content: "";
    position: absolute;
    display: block;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    border-radius: 50%; }
  .brands-container__link:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }

@media screen and (max-width: 992px) {
  .brands-container__item {
    flex: 0 0 224px;
    margin: 0 24px 16px 0; }
  .brands-container__link {
    width: auto;
    /* min-width: 224px; */
    width: 224px;
    height: 72px; } }

@media screen and (max-width: 468px) {
  .brands-container__link {
    width: 100%;
    min-width: 240px; } }

.brands-container__img {
  position: relative;
  top: 50%;
  transform: translate(16px, -50%); }

.show-more-content {
  /* Блок заголовка */
  display: block;
  padding: 0 32px;
  margin-bottom: 32px;
  box-sizing: border-box; }

@media screen and (max-width: 675px) {
  .show-more-content {
    display: none; } }

.swiper-container-brands {
  position: relative !important;
  left: 0;
  max-width: 75%;
  min-width: 240px;
  height: 130px;
  overflow: visible !important;
  padding: 0 !important;
  margin: 0 16px !important; }

@media screen and (max-width: 468px) {
  .swiper-wrapper {
    padding: 0;
    margin: 0; } }

.swiper-slide-brands {
  min-width: 240px;
  max-height: 82px;
  box-sizing: border-box;
  background-color: transparent;
  list-style: none; }

.swiper-pagination {
  transform: translateX(10%); }

.technic-container {
  /* Контейнер */
  display: block;
  width: 100%;
  height: auto;
  padding: 25px 0 0;
  box-sizing: border-box; }

.technic-container__content {
  /* Блок содержимого */
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 24px 0 24px 24px;
  box-sizing: border-box; }

@media screen and (min-width: 469px) and (max-width: 992px) {
  .technic-container__content {
    padding: 24px 0 24px 24px; } }

@media screen and (max-width: 468px) {
  /* Проверить ширину */
  .technic-container__content {
    padding: 12px 0;
    height: 230px;
    position: relative; }
  .technic-container__content::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    width: 25px;
    height: 120px;
    z-index: 5;
    background-color: transparent;
    box-shadow: 10px 0 20px 5px #ffffff; }
  .technic-container__content::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 0;
    width: 25px;
    height: 120px;
    z-index: 5;
    background-color: transparent;
    box-shadow: -10px 0 20px 5px #ffffff; } }

.technic-container__list {
  /* Список */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box; }

@media screen and (max-width: 1167px) {
  .technic-container__list {
    justify-content: space-around; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .technic-container__list {
    padding: 12px 0;
    justify-content: space-between; } }

.technic-container__item {
  /* Пункты списка */
  flex: 0 0 240px;
  width: auto;
  height: auto;
  margin: 0 32px 16px 0; }

.technic-container__item--hidden {
  display: block; }

@media screen and (min-width: 1440px) {
  .technic-container__item--hidden:nth-child(n+5) {
    display: none; } }

@media screen and (min-width: 468px) and (max-width: 1439px) {
  .technic-container__item--hidden:nth-child(n+4) {
    display: none; } }

.technic-container__link {
  /* Ссылки в списке */
  text-decoration: none;
  display: block;
  width: 240px;
  height: 160px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  border-radius: 6px;
  position: relative;
  box-sizing: border-box;
  font-family: "TT Lakes Medium", Verdana, sans-serif;
  font-size: 16px;
  color: #1b1c21;
  padding: 16px; }
  .technic-container__link::before {
    content: "";
    position: absolute;
    display: block;
    right: 35px;
    bottom: 30px;
    transform: translateY(-50%) rotate(45deg);
    width: 7px;
    height: 7px;
    border-right: 2px solid #ff3e79;
    border-top: 2px solid #ff3e79;
    border-left: transparent;
    border-bottom: transparent; }
  .technic-container__link::after {
    content: "";
    position: absolute;
    display: block;
    right: 16px;
    bottom: 16px;
    /* transform: translateY(-50%); */
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    border-radius: 50%; }
  .technic-container__link:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }

@media screen and (max-width: 992px) {
  .technic-container__item {
    flex: 0 0 224px;
    margin: 0 24px 16px 0; }
  .technic-container__link {
    width: auto;
    width: 224px; } }

@media screen and (max-width: 468px) {
  .technic-container__link {
    width: 100%;
    min-width: 240px; } }

.swiper-container-technic {
  position: relative !important;
  left: 0;
  max-width: 75%;
  min-width: 240px;
  height: 200px;
  overflow: visible !important;
  padding: 0 !important;
  margin: 0 16px !important; }

@media screen and (max-width: 468px) {
  .swiper-wrapper {
    padding: 0;
    margin: 0; } }

.swiper-slide-technic {
  min-width: 240px;
  max-height: 160px;
  box-sizing: border-box;
  background-color: transparent;
  list-style: none; }

.price-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  box-sizing: border-box; }

.price-container-to-table {
  padding: 10px 32px 32px; }

@media screen and (max-width: 675px) {
  .price-container-to-table {
    padding: 10px 0 50px; } }

.main-container {
  display: block;
  min-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: initial; }

@media (max-width: 468px) {
  .main-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 300px;
    padding: 0;
    overflow: hidden; }
  .main-container::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    width: 25px;
    height: 220px;
    z-index: 5;
    background-color: transparent;
    box-shadow: 10px 0 20px 5px #ffffff; }
  .main-container::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 0;
    width: 25px;
    height: 220px;
    z-index: 5;
    background-color: transparent;
    box-shadow: -10px 0 20px 5px #ffffff; } }

.title-320 {
  display: none;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82; }

@media (max-width: 468px) {
  .title-320 {
    display: block; }
  .mt-16 {
    margin-top: 16px; } }

.table {
  display: table;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: black; }

.row {
  display: table-row; }

.cell {
  display: table-cell;
  border-bottom: 1px solid #eaeaea;
  padding: 20px;
  background-color: #ffffff;
  font-family: "TT Lakes Regular", Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #1b1c21; }

@media (min-width: 786px) {
  .cell:nth-child(2) {
    width: 50%; }
  .cell:nth-child(3), .cell:nth-child(4) {
    width: 15%; }
  .cell:nth-child(5) {
    width: 20%;
    min-width: 130px; } }

.cell-th {
  background-color: transparent;
  border: none;
  font-family: "TT Lakes Regular", Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #7e7e82; }

.decor {
  min-width: 16px;
  padding: 0;
  border-bottom: 1px solid transparent;
  background-color: #ffffff; }

.cell-top-left {
  border-top-left-radius: 6px; }

.cell-top-right {
  border-top-right-radius: 6px; }

.cell-bottom-left {
  border-bottom-left-radius: 6px; }

.cell-bottom-right {
  border-bottom-right-radius: 6px; }

.row:last-child > .cell {
  border-bottom: none; }

@media (max-width: 468px) {
  .row--hidden {
    display: none; }
  .cell {
    display: block;
    position: relative;
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px; }
  .cell-btn {
    position: absolute;
    bottom: 16px;
    right: 16px; }
  .decor {
    display: none; } }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-container-price {
  position: relative !important;
  width: 75%;
  min-width: 260px;
  height: 250px;
  overflow: visible !important;
  margin: 16px 64px 16px 16px !important; }

.swiper-slide-price {
  display: block;
  width: 100%;
  max-height: 200px;
  box-sizing: border-box;
  padding: 16px;
  text-align: left;
  background: #fff;
  border-radius: 6px; }

.price-container__info-text {
  display: block;
  width: 50%;
  padding: 0;
  margin: 32px 0 16px 0; }

@media screen and (max-width: 992px) {
  .price-container__info-text {
    width: 70%; } }

@media screen and (max-width: 675px) {
  .price-container__info-text {
    width: 100%;
    padding: 0 16px;
    text-align: justify;
    box-sizing: border-box; } }

.price-container__form_offer-button {
  font-family: "TT Lakes Bold", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  display: inline;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin-right: 20px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative; }
  .price-container__form_offer-button::after {
    content: "";
    width: 7px;
    height: 7px;
    border-top: 2px solid #ff3e79;
    border-right: 2px solid #ff3e79;
    transform: rotate(45deg);
    position: absolute;
    top: 9px;
    right: -15px; }

@media screen and (max-width: 675px) {
  .price-container__form_offer-button {
    padding-left: 16px; } }

@media screen and (max-width: 468px) {
  .price-container__form_offer-button {
    width: 230px;
    text-align: left; }
    .price-container__form_offer-button::after {
      top: 32px;
      right: 95px; } }

.footer {
  font-family: "TT Lakes Regular", Verdana, sans-serif;
  font-size: 14px;
  color: #7e7e82;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 32px 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    padding: 32px 16px 21px; } }

.footer__item {
  flex-basis: 33%; }
  .footer__item:last-child {
    text-align: right; }
  .footer__item_link {
    text-decoration: none;
    color: #7e7e82; }

@media screen and (max-width: 767px) {
  .footer__item {
    text-align: center;
    margin-bottom: 16px; }
    .footer__item:last-child {
      text-align: center; } }

.modal-container-feadback-1440 {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 440px;
  height: 100%;
  transform: translateX(130%);
  transition: transform 0.5s ease-out;
  background-color: #ffffff; }

@media screen and (min-width: 468px) and (max-width: 767px) {
  .modal-container-feadback-1440 {
    width: 360px; } }

@media screen and (max-width: 467px) {
  .modal-container-feadback-1440 {
    width: 320px; } }

.modal-feadback-1440 {
  display: block;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 32px;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21; }

.modal-feadback-1440--active {
  transform: none;
  box-shadow: -16px 0px 52px rgba(14, 24, 80, 0.2), 2px 0px 4px rgba(69, 79, 126, 0.02); }

.btn-primary--close--modal-position {
  display: block;
  position: absolute;
  left: -72px;
  top: 32px; }

@media screen and (max-width: 767px) {
  .btn-primary--close--modal-position {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 32px; }
  .modal-feadback-1440 {
    position: relative; } }

.modal-feadback-1440__title {
  display: block;
  width: 100%;
  font-family: 'TT Lakes Bold';
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  display: block;
  position: relative; }

.modal-feadback-1440__title::before {
  content: "";
  display: block;
  width: 3px;
  height: 40px;
  position: absolute;
  left: -33px;
  top: -5px;
  border: 1px solid #35f5d5;
  background-color: #41f6d7;
  border-radius: 30px; }

.modal-feadback-1440__form {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  margin-top: 24px; }

.modal-feadback-1440__form_input {
  width: 100%;
  margin: 0;
  background-image: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  outline: none;
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 16px;
  color: #1b1c21; }

.modal-feadback-1440__form_input::placeholder {
  color: #b5b6bc; }

.modal-feadback-1440__form_input:hover,
.modal-feadback-1440__form_input:focus {
  box-shadow: 0 0 8px rgba(14, 24, 80, 0.2);
  border: 1px solid #cccccc; }

._resize {
  resize: none; }

.modal-feadback-1440__instruction {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82; }

.modal-feadback-1440__instruction_link {
  text-decoration: none;
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 16px;
  color: #ff3e79; }

.modal-feadback-1440__button-submit {
  width: 136px;
  height: 32px;
  position: relative;
  float: right;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  background-color: #ff3e79;
  transition: 0.2s ease-in-out;
  color: #ffffff;
  font-family: 'TT Lakes Medium';
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0;
  padding-right: 27px;
  margin-top: 27px; }

.modal-feadback-1440__button-submit::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border: 2px solid #ffffff;
  border-left: transparent;
  border-bottom: transparent;
  position: absolute;
  right: 17px;
  top: 12px;
  transform: rotate(45deg); }

.modal-feadback-1440__button-submit:hover {
  box-shadow: 0 0 8px rgba(14, 24, 80, 0.4); }

.modal-container-call-1440 {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 440px;
  height: 100%;
  transform: translateX(130%);
  transition: transform 0.5s ease-out;
  background-color: #ffffff; }

@media screen and (min-width: 468px) and (max-width: 767px) {
  .modal-container-call-1440 {
    width: 360px; } }

@media screen and (max-width: 467px) {
  .modal-container-call-1440 {
    width: 320px; } }

.modal-call-1440 {
  display: block;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 32px;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21; }

.modal-call-1440--active {
  transform: none;
  box-shadow: -16px 0px 52px rgba(14, 24, 80, 0.2), 2px 0px 4px rgba(69, 79, 126, 0.02); }

.modal-call-1440__title {
  display: block;
  width: 100%;
  /* height: auto; */
  /* margin-top: 40px; */
  font-family: 'TT Lakes Bold';
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  display: block;
  position: relative; }

.modal-call-1440__title::before {
  content: "";
  display: block;
  width: 3px;
  height: 40px;
  position: absolute;
  left: -33px;
  top: -5px;
  border: 1px solid #35f5d5;
  background-color: #41f6d7;
  border-radius: 30px; }

.modal-call-1440__form {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  margin-top: 24px; }

.modal-call-1440__form_input {
  width: 100%;
  margin: 0;
  background-image: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  outline: none;
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 16px;
  color: #1b1c21; }

.modal-call-1440__form_input::placeholder {
  color: #b5b6bc; }

.modal-call-1440__form_input:hover,
.modal-call-1440__form_input:focus {
  box-shadow: 0 0 8px rgba(14, 24, 80, 0.2);
  border: 1px solid #cccccc; }

._resize {
  resize: none; }

.modal-call-1440__instruction {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82; }

.modal-call-1440__instruction_link {
  text-decoration: none;
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 16px;
  color: #ff3e79; }

.modal-call-1440__button-submit {
  width: 136px;
  height: 32px;
  position: relative;
  float: right;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  background-color: #ff3e79;
  transition: 0.2s ease-in-out;
  color: #ffffff;
  font-family: 'TT Lakes Medium';
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0;
  padding-right: 27px;
  margin-top: 27px; }

.modal-call-1440__button-submit::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border: 2px solid #ffffff;
  border-left: transparent;
  border-bottom: transparent;
  position: absolute;
  right: 17px;
  top: 12px;
  transform: rotate(45deg); }

.modal-call-1440__button-submit:hover {
  box-shadow: 0 0 8px rgba(14, 24, 80, 0.4); }

.modal-aside-bar-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7); }

.aside-bar-modal {
  width: 320px;
  height: 100%;
  min-height: 870px;
  padding: 35px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
  z-index: 2;
  position: relative; }

@media screen and (min-width: 468px) and (max-width: 767px) {
  .aside-bar-modal {
    width: 360px;
    min-height: 676px; } }

@media screen and (max-width: 467px) {
  .aside-bar-modal {
    width: 320px;
    min-height: 676px; } }

.top_menu_768 {
  display: none;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  background-color: #ffffff; }

@media screen and (max-width: 992px) {
  .top_menu_768 {
    display: flex; } }

.top_menu_768_elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto; }

.line {
  width: 1px;
  height: 32px;
  background-color: #eaeaea; }

.top_menu_320 {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 16px;
  box-sizing: border-box;
  background-color: #ffffff; }

@font-face {
  font-family: 'TT Lakes Regular';
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Medium';
  src: url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Bold';
  src: url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

.page {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  font-family: "TT Lakes Regular", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 767px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.hidden-modal {
  display: none; }

/* BUTTONS */
/* Кнопки "Показать все" */
.btn-toggle {
  font-family: "TT Lakes Bold", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin-left: 32px;
  cursor: pointer;
  display: block;
  position: relative; }

.btn-icon-down::before {
  content: url(./static/arrowdown.svg);
  position: absolute;
  left: -24px; }

.btn-toggle--hidden {
  display: none; }

.btn-icon-up::before {
  content: url(./static/arrowup.svg);
  position: absolute;
  left: -24px; }

/* Кнопки "Показать все" - конец */
.button-read-more {
  font-family: "TT Lakes Bold", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin-left: 32px;
  cursor: pointer;
  display: block;
  position: relative; }

.arrowdown-icon::before {
  content: url(./static/arrowdown.svg);
  position: absolute;
  left: -24px; }

.arrowup-icon::before {
  content: url(./static/arrowup.svg);
  position: absolute;
  left: -24px; }

.btn-to-order {
  background: #ff3e79;
  border-radius: 30px;
  border: none;
  width: 119px;
  height: 32px;
  margin: 0;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  text-align: left;
  text-transform: uppercase;
  padding-left: 12px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .btn-to-order:hover {
    -webkit-box-shadow: 0 0 7px 0 rgba(14, 24, 80, 0.5);
    box-shadow: 0 0 7px 0 rgba(14, 24, 80, 0.5); }

.btn-to-order--position {
  position: absolute;
  right: 16px;
  bottom: 16px; }

.btn-to-order::after {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 5px;
  border-right: 2px solid white;
  border-top: 2px solid white; }

.btn-primary {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #ff3e79; }

.btn-primary:hover {
  -webkit-box-shadow: 0 0 7px 0 rgba(14, 24, 80, 0.5);
  box-shadow: 0 0 7px 0 rgba(14, 24, 80, 0.5); }

.btn-primary--close {
  background-image: url(./static/close.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.btn-primary--search {
  background-image: url(./static/search.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.btn-primary--search--margin {
  margin-left: auto; }

.btn-primary--phone {
  background-image: url(./static/phone.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.btn-primary--chart {
  background-image: url(./static/chat.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.btn-primary--profile {
  background-image: url(./static/profile.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.btn-primary--burger {
  background-image: url(./static/burger.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.btn-primary--request {
  background-image: url(./static/request.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.btn-primary--status {
  background-image: url(./static/status.svg);
  background-repeat: no-repeat;
  background-position: center center; }

.btn-group {
  display: block;
  padding: 0; }

@media screen and (max-width: 768px) {
  .btn-group--hidden {
    display: none; } }

.btn-primary--hidden {
  display: none; }

@media screen and (max-width: 992px) {
  .btn-primary--hidden {
    display: block; } }

.popup--open {
  display: block; }

/* Модификатов margin-right для кнопок */
.mr--16 {
  margin-right: 16px; }

.modal-overlay {
  display: block;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.5); }

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px); }


/*# sourceMappingURL=style.css.map*/