$font-regular: 'TT Lakes Regular', Verdana, sans-serif;

$text-color: #7e7e82;
$text-size: 14px;
$text-line-height: 16px;

$bg-color: #f8f8f8;

.footer {
    font: {
        family: $font-regular;
        size: $text-size;
    }
    color: $text-color;
    width: 100%;
    box-sizing: border-box;
    padding: 32px 32px 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-content: stretch;
        padding: 32px 16px 21px;
    }
}

.footer__item {
    flex-basis: 33%;

    &:last-child {
        text-align: right;
    }

    &_link {
        text-decoration: none;
        color: $text-color;
    }
}

@media screen and (max-width: 767px) {
    .footer__item {
        text-align: center;
        margin-bottom: 16px;
        
        &:last-child {
            text-align: center;
        }
    }
}

