$font-regular: 'TT Lakes Regular', Verdana, sans-serif;
$font-medium: 'TT Lakes Medium', Verdana, sans-serif;
$font-bold: 'TT Lakes Bold', Verdana, sans-serif;

$text-color: #1b1c21;
$text-color-title: #7e7e82;
$text-size: 14px;
$title-size: $text-size * 2;
$text-line-height: 20px;
$title-line-height: $text-line-height * 2;

$button-color: #ff3e79;
$highlight-color: #41f6d7;
$bg-color: #f8f8f8;

$bg-gradient: linear-gradient(270deg, $bg-color 0%, #ffffff 100%);

.main {
    display: block; /* blcok */
    /* width: 75%; */
    
    height: 100vh;
    height: auto;
    min-height: 100%;
    /* position: relative; */
    flex: 1 1 auto; /* !!!!!!!!!!!!!! */
    margin: 0;
    background-color: #f8f8f8;
    
    /* padding: 32px; */

    box-sizing: border-box;
    /* background-color: transparent; */
  
    /* background-color: lightpink; */
    /* border: 1px dotted lightseagreen; */
  }

  .main__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
    height: auto;
    /* max-width: 1120px; */
    padding: 42px 32px 9px;

    box-sizing: border-box;

    /* border: 1px solid red; */
}
@media screen and (max-width: 767px) {
  .main__header {
    padding: 42px 16px 9px;
  }
}
 
.main__header_title {
    font-family: $font-bold;
    font-size: $title-size;
    line-height: $title-line-height;

    position: relative;
    margin: 0;

    /* margin: 42px auto 9px 32px; */
    /* border: 1px dotted green; */
    &::before { /* Линия декора перед заголовком */
    content: "";
    display: block;
    width: 3px;
    height: 40px;
    border: 1px solid #41f6d7;
    border-radius: 10px;
    background-color: #41f6d7;

    position: absolute;
    left: -34px;
    top: 0;
    }
  
  }

  @media screen and (max-width: 767px) {
    .main__header_title::before {
        left: -18px;
      }
}
  
.main__header_request {
    
    margin: 0;
    /* padding: 5px; */
    flex: 0 1 auto;
    justify-content: flex-end;
    align-items: flex-end;
    
    display: flex;
    flex-wrap: wrap;
    
    /* border: 1px solid blue; */
  }

/* При ширине от 993 до 1024 кнопки размещаются друг под другом */
@media screen and (max-width: 1024px) {
    .main__header_request {
        flex-direction: column;
        /* flex-wrap: nowrap; */
        justify-content: flex-start;
        align-items: flex-start;
    }
    .request-button {
        margin: 0px;
        margin-bottom: 16px;
    }
    .status-button {
        margin: 0px;   
    }
}

/* Прячем кнопки "Оставить заявку" и "Статус ремонта" при ширине до 768 */
@media screen and (max-width: 992px) {
    .main__header_request {
        display: none;
    }
  }
  
  
.header_request_button { /* Общие свойства кнопок в header */
    font-family: $font-medium;
    font-size: $text-color + 2;
    line-height: $text-line-height + 4;
    text-align: left;
    background-color: transparent;
    display: block;
    width: 170px;
    height: 42px;
    border: none;
    /* border: 1px solid lightslategray; */
    outline: none;
  
    /* padding: 5px 45px 5px 5px; */
    padding: 0 0 0 10px;
    /* margin-right: 25px; */
      
    cursor: pointer;
  
    position: relative;
  
    &::after {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
    
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 50%;
        background-color: $button-color;
    }  
}
  
.request-button {
    margin-right: 32px;
  
    &::after {
      background: {
        image: url('../img/request.svg');
        repeat: no-repeat;
        position: center center;
        }
    }
}

@media screen and (max-width: 1024px) {
    .request-button {
        margin-right: 0px;   
    }
}
  
.status-button {
    margin: 0;
    &::after {
      background: {
        image: url('../img/status.svg');
        repeat: no-repeat;
        position: center center;
      }
    }
}

  
  
  
  /* MENU */
  
  .main__menu {
    padding: 0 32px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
   /*  border: 1px dashed green; */

}

@media screen and (max-width: 767px) {
  .main__menu {
    padding: 0 16px;
  }
}
  
.main__menu-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  
    /* background-color: lightpink; */
  }
 
/* Если ширина не вписывается в 1440 - пункты меню центрируются */
@media screen and (max-width: 1439px) {
    .main__menu-list {
        justify-content: center;
        width: 100%;
    }
}
/* Усли ширина до 992 - меню прокручивается */
@media screen and (max-width: 992px) {
    .main__menu {
        /* padding: 0; */
        /* border: 1px dashed green; */
        flex: 0 1 auto;
    }
    
    .main__menu-list {
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        flex: 0 0 auto;
        overflow-x: scroll;
        padding-bottom: 20px;
        margin-bottom: -20px;
        /* box-sizing: border-box; */
    }
    .main__menu {
        overflow: hidden;
    }
}

  .main__menu-item {
    list-style: none;
    flex: 0 0 auto;
  }
  
  .main__menu-link {
    text-decoration: none;
    color: #7e7e82;
  
    
    display: block;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 6px;
  
    &:hover {
      border: 2px solid #b8ffec;
      background-color: #fff;
    }
  }
  
  .main__menu-link--active-item {
      display: block;
      padding: 8px;
      border: 2px solid #b8ffec;
      border-radius: 6px;
      background-color: #fff;
  }
  
  
  /* CONTENT */
  
  .main__desc {
      width: 100%;
      height: auto;
      
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      padding: 20px 32px;
  
      box-sizing: border-box;
      
      /* border: 1px dashed dodgerblue; */
  }
  
  @media screen and (max-width: 767px) {
    .main__desc {
      flex-direction: column;
      justify-content: flex-start;
      align-content: stretch;
      padding: 20px 16px;
    }
  }
  
  .main__desc_text {
    width: 50%;
    flex: 1 1 auto;
    height: auto;
    
    /* min-height: 160px; */
    
    overflow: hidden;
    margin-right: 16px;
  
    /* border: 1px dotted blue; */
  }
.paragraph {
  display: block;
}

.hidden--paragraph {
    display: none;
}
  
/* @media screen and (max-width: 993px) {
    .hidden-text {
        display: none;
    }
} */

@media screen and (max-width: 767px) {
  .main__desc_text {
    flex: 0 1 auto;
    width: 100%;
    margin: 0;

    /* border: 1px solid red; */
  }
}

   .main__desc_image {
    flex: 1 1 auto;
    width: 45%;
    height: auto; 
    
    overflow: hidden;
  
    /* border: 1px dotted blue; */
  
      &--img {
        width: 100%;
        border-radius: 6px;
      }
  }
  
  @media screen and (max-width: 767px) {
  
    .main__desc_image {
      width: 100%;
      margin: 16px 0;

    }
  
  }












