@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Medium';
    src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-regular: 'TT Lakes Regular', Verdana, sans-serif;
$font-medium: 'TT Lakes Medium', Verdana, sans-serif;
$font-bold: 'TT Lakes Bold', Verdana, sans-serif;

$text-color: #1b1c21;
$text-color-title: #7e7e82;
$text-size: 14px;
$title-size: $text-size * 2;
$text-line-height: 20px;
$title-line-height: $text-line-height * 2;

$button-color: #ff3e79;
$highlight-color: #41f6d7;
$bg-color: #f8f8f8;

$bg-gradient: linear-gradient(-270deg, $bg-color 0%, #ffffff 100%);

.rubric {
    display: block;
    width: 100%;
    height: 56px;
    height: auto;
    padding: 1px 32px;
    background-image: $bg-gradient;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .rubric {
        max-width: 768px; 
    }
}

@media screen and (max-width: 320px) {
    .rubric {
        height: auto;
        padding: 5px 16px;
    }
}

.rubric__title { 
    font-family: $font-regular;
    font-size: $text-size;
    line-height: $text-line-height;
    color: $text-color-title;
    text-transform: uppercase;
    font-weight: normal;
    margin: 16px 0;
}
