$bgColor: lightyellow;
$text: #333;
$font-text: 'TT Lakes Regular', sans-serif;

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

.page {
  padding: 30px;
  margin: 0;
  font-family: $font-text;
  background-color: $bgColor;
  color: $text;
}

.container {
  border: 2px solid blue;
  padding: 20px;

    &__title {
      color: green;
    }
}
