$font-regular: 'TT Lakes Regular', Verdana, sans-serif;
$font-medium: 'TT Lakes Medium', Verdana, sans-serif;
$font-bold: 'TT Lakes Bold', Verdana, sans-serif;

$text-color: #1b1c21;
$text-color-title: #7e7e82;
$text-size: 16px;
$text-size-table: 14px;
$text-line-height: 24px;
$text-line-height-table: 18px;

$button-color: #ff3e79;
$bg-color: #f8f8f8;

$bg-gradient: linear-gradient(90deg, $bg-color 0%, #ffffff 100%);

.price-container {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    box-sizing: border-box;
}

.price-container-to-table {
    padding: 10px 32px 32px;
}

@media screen and (max-width: 675px) {
    .price-container-to-table {
        padding: 10px 0 50px;
        
    }
}

.main-container {
    display: block;
    min-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: initial;
}

@media (max-width: 468px) {
    .main-container {
        position: relative;
        width: 100%;
        min-width: 320px;
        height: 300px;
        padding: 0;
        overflow: hidden;
    }
    .main-container::before {
        content: "";
        position: absolute;
        left: -25px;
        top: 0;
        width: 25px;
        height: 220px;
        z-index: 5;
        background-color: transparent;
        box-shadow: 10px 0 20px 5px #ffffff;
    }
    .main-container::after {
        content: "";
        position: absolute;
        right: -25px;
        top: 0;
        width: 25px;
        height: 220px;
        z-index: 5;
        background-color: transparent;
        box-shadow: -10px 0 20px 5px #ffffff;
    }
}

.title-320 {
    display: none;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;
}

@media (max-width: 468px) {
    .title-320 {
        display: block;
    }
    .mt-16 {
        margin-top: 16px;
    }
}

.table {
    display: table;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border-bottom: 1px solid #eaeaea;
    padding: 20px;
    background-color: #ffffff;
    font-family: $font-regular;
    font-size: $text-size-table;
    line-height: $text-line-height-table;
    color: $text-color;
}

@media (min-width: 786px) {
    .cell:nth-child(2) {
        width: 50%;
    }
    .cell:nth-child(3), .cell:nth-child(4) {
        width: 15%;
    }
    .cell:nth-child(5) {
        width: 20%;
        min-width: 130px;
    }
}

.cell-th {
    background-color: transparent;
    border: none;
    font-family: $font-regular;
    font-size: $text-size-table;
    line-height: $text-line-height-table;
    color: $text-color-title;
}

.decor {
    min-width: 16px;
    padding: 0;
    border-bottom: 1px solid transparent;
    background-color: #ffffff;
}

.cell-top-left {
    border-top-left-radius: 6px;
}
.cell-top-right {
    border-top-right-radius: 6px;
}
.cell-bottom-left {
    border-bottom-left-radius: 6px;
}
.cell-bottom-right {
    border-bottom-right-radius: 6px;
}

.row:last-child > .cell {
    border-bottom: none;
}


@media (max-width: 468px) {
    .row--hidden {
        display: none;
    }
    .cell {
        display: block;
        position: relative;
        border: none;
        padding: 0;
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 18px;
    }
    .cell-btn {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
    .decor {
        display: none;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container-price {
    position: relative !important;
    width: 75%;
    min-width: 260px;
    height: 250px;
    overflow: visible !important;
    margin: 16px 64px 16px 16px !important;
}

.swiper-slide-price {
    display: block;
    width: 100%;
    max-height: 200px;
    box-sizing: border-box;
    padding: 16px;
    text-align: left;
    background: #fff;
    border-radius: 6px;
}

.price-container__info-text {
    display: block;
    width: 50%;
    padding: 0;
    margin: 32px 0 16px 0;
}

@media screen and (max-width: 992px) {
    .price-container__info-text {
        width: 70%;
    }
}

@media screen and (max-width: 675px) {
    .price-container__info-text {
        width: 100%;
        padding: 0 16px;
        text-align: justify;
        box-sizing: border-box;
    }
}

.price-container__form_offer-button {
    font-family: $font-bold;
    font-size: $text-size;
    line-height: $text-line-height;
    color: $text-color;
    display: inline;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
        width: 7px;
        height: 7px;
        border-top: 2px solid $button-color;
        border-right: 2px solid $button-color;
        transform: rotate(45deg);
        position: absolute;
        top: 9px;
        right: -15px;
    }
}

@media screen and (max-width: 675px) {
    .price-container__form_offer-button {
        padding-left: 16px;
    }
}

@media screen and (max-width: 468px) {
    .price-container__form_offer-button {
        width: 230px;
        text-align: left;
        
        &::after {
            top: 32px;
            right: 95px;
        }
    }
}
